* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*fine reset*/
.wrapper {
  padding: 10px;
}
/*inizio header*/
header {
  background: yellow;
  height: 200px;
}
/*fine header*/
/*inizio colonne*/
main::after {
  content: '';
  display: table;
  clear: both;
}
main .colonnasinistra {
  margin-top: 1%;
  float: left;
  background: pink;
  width: 25%;
  height: 400px;
}
main .colonnacentrale {
  margin-top: 1%;
  float: left;
  background: purple;
  width: 35%;
  height: 500px;
  margin-left: 1%
}
